{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, K. {{ name }}:)
</h1>
<div class="columns">
    <div class="column is-4 ">
        <div class="card is-shady">
            <div class="card-image">
                <figure class="image is-128x128">
                    <img src="https://mahidol.ac.th/temp/2019/06/Logo16.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                </figure>
            </div>
            <div class="card-content"><br>
                <div class="content">
                    <a href="{{ url_for('main.create_work') }}" class="button is-link modal-button">Staff</a>
                </div>
            </div><br>
        </div>
    </div>
    <div class="column is-4">
        <div class="card is-shady">
            <div class="card-image">
                <figure class="image is-128x128">
                    <img src="https://mahidol.ac.th/temp/2019/06/Logo16.jpg" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <a href="{{ url_for('main.show_year') }}" class="button is-link modal-button">HR</a>
                </div>
            </div><br>
        </div>
    </div>
</div>
{% endblock %}